name: Continuous Integration

on:
  push:
    branches:
      - '*'
    paths-ignore:
      - '.editorconfig'
      - '.gitignore'
      - '**/*.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.editorconfig'
      - '.gitignore'
      - '**/*.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
      fail-fast: false
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
      with:
        fetch-depth: 0  # Shallow clone disabled to improve Sonarcloud analysis
        show-progress: false
    - name: Install just
      uses: extractions/setup-just@v3
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: |
          **/pyproject.toml
          **/uv.lock
        python-version: ${{ matrix.python-version }}
    - name: Set up Python
      run: uv python install
    - name: Install dependencies
      run: uv sync --locked --all-extras --dev
    - name: Lint
      run: just lint-ci
    - name: Test
      run: just test
      env:
        OP_TOKEN: ${{ secrets.OP_TOKEN }}
    - name: Scan
      if: ${{ matrix.python-version == '3.12' }}
      uses: SonarSource/sonarqube-scan-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - name: Push scan results to DefectDojo
      if: ${{ matrix.python-version == '3.12' }}
      run: |
        curl -X 'POST' \
        'https://zap.utiligize.com/api/v2/import-scan/' \
        -H 'accept: application/json' \
        -H 'Content-Type: multipart/form-data' \
        -H 'Authorization: ${{ secrets.DOJO_API }}' \
        -F 'minimum_severity=Info' \
        -F 'active=true' \
        -F 'verified=true' \
        -F 'scan_type=SonarQube API Import' \
        -F 'product_name=configator' \
        -F 'engagement_name=SonarCloud API Import' \
        -F 'close_old_findings=false' \
        -F 'close_old_findings_product_scope=false' \
        -F 'push_to_jira=false' \
        -F 'create_finding_groups_for_all_findings=true'
